.navbar {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    position: fixed;
    width: 100%;
    background: $color-white;
    z-index: 1000000;
    transition: all .5s;

    &__icon {
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        font-weight: bold;
        
    }

    &__navigation-item {
        display: inline-block;
        margin: 0 1rem;
        color: $color-black;
        font-family: 'Oswald', sans-serif;
        font-size: 1.4rem;

        &:active,
        &:hover {
            color: red;
        }
    }
    
}

#homeNav {
    border-top: 2px solid orangered;
}
