.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom-medium {
    margin-bottom: 4rem;
}

.margin-bottom-big {
    margin-bottom: 8rem;
}

.another-line {
    display: block;
}

.flex-filler {
    flex: 1
}